body {
	display: grid;
	grid-template-columns: [line1] auto [line2] auto [line3] auto [line4];
	grid-template-rows: [row1] auto [row2] auto [row3];
	min-height: 100vh;
	margin: 0px;
	justify-content: center;
	background-color: #121212;
}

body, button {
	font-family: "Lato", "Arial", sans-serif;
	font-size: 24px;
	color: white;
}

button {
	cursor: pointer;
}

h2 {
	text-decoration: underline;
}

#game {
	grid-column-start: line1;
	grid-column-end: span line4;
	align-self: center;
	display: grid;
	margin-top: 24px;
}

canvas, #timer, #score, #pickside, #displaymenu, #countdown, #menu, #gameover {
	grid-column: 1;
	grid-row: 1;
}

#timer {
	margin: 24px 30px;
}

#score {
	width: 100%;
	text-align: center;
}

#score p {
	display: inline-block;
	padding: 0px 12px;
	margin-top: 34px;
	font-size: 54px;
	line-height: 0.3;
}

#score p:first-child {
	color: #ff003b;
}

#score p:last-child {
	color: #003bff;
}

@keyframes countdown {
	0% {opacity: 1; transform: scale(1.2)}
	25% {opacity: 1}
	100% {transform: scale(0.7); opacity: 0;}
}

@keyframes flash {
	70% {opacity: 1}
	75% {opacity: 0}
}

#countdown {
	display: block;
	justify-self: center;
	align-self: center;
	font-size: 100px;
	opacity: 0;
}

.countdown-animation {
	animation: countdown 1s forwards infinite;
}

.countdown-flash {
	animation: flash 0.4s forwards infinite;
}

#menu {
	display: none;
	width: 180px;
	height: 200px;
	background-color: #121212;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-self: center;
	align-self: center;
	border-radius: 8px;
	z-index: 1;
	padding-bottom: 21px;
}

#menu button, #gameover button {
	display: block;
	background: none;
	padding: 4px 12px;
	border: 2px solid white;
	border-radius: 4px;
	transition: all 0.2s ease-in-out;
}

#menu h2 {
	margin-top: 8px;
	font-size: 32px;
}

#menu button:last-child {
	margin-top: 16px;
}

#menu button:hover, #gameover button:hover {
	color: #FF7F50;
	border-color: #FF7F50;
}

#displaymenu {
	width: 40px;
	height: 40px;
	justify-self: self-end;
	margin: 24px 30px;
}

#gameover {
	display: none;
	justify-self: center;
	align-self: center;
	z-index: 1;
}

#gameover p {
	text-align: center;
	font-size: 27px;
}

#gameover button {
	margin: 0 auto;
}

#pickside {
	z-index: 1;
}

#pickside button {
	border: none;
	width: 50%;
	height: 100%;
}

#pickside #redteam, #score p:first-child {
	border-right: 2px solid white;
}

#pickside #blueteam, #score p:last-child {
	border-left: 2px solid white;
}

#pickside #redteam {
	background-color: rgba(255, 0, 59, 0.5);
}

#pickside #redteam:hover {
	background-color: rgba(255, 0, 59, 0.75);
}

#pickside #blueteam {
	background-color: rgba(0, 59, 255, 0.5);
	border-left: 2px solid white;
}

#pickside #blueteam:hover {
	background-color: rgba(0, 59, 255, 0.75);
}

#controls, #bots, #difficulty {
	width: 426.77px;
	text-align: center;
}

#bots div {
	display: inline-block;
	background-color: #333;
	border-radius: 4px;
	padding-bottom: 8px;
}

#bots label {
	padding: 34px 12px 8px 12px;
}

#bots input[type="radio"] {
	display: flex;
	justify-content: center;
	align-items: center;
	appearance: none;
	width: 1.15em;
	height: 1.15em;
	border: 2px solid white;
	border-radius: 50%;
	margin: 12px auto 6px auto;
}

#bots input[type="radio"]::before {
	content: "";
	position: absolute;
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em #FF7F50;
}

#bots input[type="radio"]:checked::before {
	transform: scale(1);
}

#difficulty input[type="radio"] {
	display: none;
}

#difficulty label {
	display: block;
	background-color: #222;
	padding: 8px 12px;
	margin: 8px 125px;
	border: 2px solid #222;
	border-radius: 4px;
	transition: all 0.2s ease-in-out;
}

#difficulty input[type="radio"]:checked ~ label {
	border: 2px solid #FF7F50;
	color: #FF7F50;
}

li {
	grid-column-start: line2;
	grid-column-end: span line3;
	justify-self: center;
	margin: 36px 0px;
}